body {
  background-color: #000;
  font-family: 'Arial';
  color: yellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  overflow: hidden;
}

#root {
  background: url("../img/bg.jpg") repeat-y scroll center top;
  max-width: 910px;
  height: 100vh;
  margin: 0 auto;
  padding: 40px;
}

.content {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  margin: 0px auto;
}

header {
  margin-bottom: 30px;
}

section {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p, h2 {
  margin-bottom: 10px;
}

input {
  width: 70px;
  height: 50px;
  font-size: 24px;
  padding: 0 15px;
}
